   body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
  }
  a {
     text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
     margin-top: 0;
     margin-bottom: 0;
  }

  ul,
  ol {
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;
  }
img {
   display: block;
   max-width: 100%;
}

    header {
  background: #ffffff;
  }

    footer {
  background: rgba(46, 47, 66, 1);
  }


    ul {
    list-style: none;
  }

  .logo,
  .sec-logo{
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
  }

  .logo{

    color: #4d5ae5;
  }

  .sec-logo {

      color: #2e2f42;
  }
  .sec-logo-end{
    color: #f4f4fd;
  }

  address{
    font-style: normal; 
  }

  .address .li{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .address .li:hover{
    color: #404bbf;
  }

  .address .li:focus {
    color: #404bbf;
  }
  .nav-links{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;   
  }
  .nav-links:hover,
  .nav-links:focus{
    color: #404bbf;
  }
  .nav-links{
   color: #2e2f42;
  }
 address{
    font-style: normal;   
 }
 .contact-item{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;   
 }
 .contact-item:hover{
    color: #404bbf;
 }
 .contact-item:focus{
    color: #404bbf;
 }
 .hero{
    background-color: #2e2f42;
 }
 .hero-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;  
 }
 .button-class{
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
 }
 .button-class:hover
 {
    background-color: #404BBF;
 }
 .button-class:focus{
    background-color: #404BBF;
 }
 .benefit-caption{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;   
 }
 .benefits-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;  
 }
 .team{
    background-color: #F4F4FD;  
 }
 .caption{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
 }
 .team-item{
    background-color: #FFFFFF; 
 }
 .portfolio-caption{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }
 .portfolio-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
.foter-descr{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}